* {
  margin: 0;
  padding: 0;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.main {
  
  width: 100vw;
  height: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

h2 {
  font-weight: 700;
  font-size: xx-large;
  padding: 1rem;
}
p {
  font-size: x-large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(3, 54, 31);
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
}

input {
  width: 50%;

  color: black;
  border-radius: 5px;

  font-size: x-large;
  margin: 1rem;
  height: 40px;
}
input::placeholder {
  color: black;
}

.show {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 2rem;
}

.show-cards {

  margin: 0.1em;
  padding: 0.4rem;
}

button {
  cursor: pointer;
  height: 40px;
  border-radius: 6px;

  width: 7rem;
}

button:hover {
  border: none;

}
